td, th {
  border: 1px solid black;
  padding: 5px;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 75%;
}

tr:nth-child(odd) td {
  background-color: #E6C79C;
}

tr:nth-child(even) td {
  background-color: #CDDFA0;
}

#header-row {
  background-color: #6FD08C;
}

tr td.button-container {
  border: none;
  background-color: transparent;
}

#title-header, #author-header {
  width: 30%;
}

#pages-header {
  width: 20%;
}

#read-header {
  width: 10%;
}
