@font-face {
  font-family: "dataFont";
  src: url(fonts/Shadows_Into_Light/ShadowsIntoLight-Regular.ttf);
}   
@font-face {
  font-family: "HeadingFont";
  src: url(fonts/Walter_Turncoat/WalterTurncoat-Regular.ttf);
}  

th {
  font-family: "HeadingFont";
  font-size: 2em;
}

td {
  font-family: "dataFont";
  font-size: 1.5rem;
}

td, th {
  border: 1px solid black;
  padding: .3rem;
  text-align: center;
}

table {
  border-collapse: collapse;
  width: 75%;
}

tr:nth-child(odd) td {
  background-color: #E6C79C;
}

tr:nth-child(even) td {
  background-color: #CDDFA0;
}

#header-row {
  background-color: #6FD08C;
}

tr td.button-container {
  border: none;
  background-color: transparent;
}

#title-header, #author-header {
  width: 30%;
}

#pages-header {
  width: 20%;
}

#read-header {
  width: 10%;
}

.remove-button {
  font-family: Arial, Helvetica, sans-serif;
}

#add-book {
  font-family: "headingFont";
  font-size: 1.5rem;
  margin-top: 1rem;
  margin-left: 37.5%;
  padding: .5rem;
}